@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Fredoka+One&display=swap');

$brend-color: #a82a0a;
$text-color: rgb(37, 37, 37);
$title-color: rgb(253, 253, 253);
$menu-color: rgb(241, 207, 11);
$span-color:  #9b9898;

// толщина границы
$b-size: 1px;

$text-ff: 'Lora', serif;
$title-ff: 'Dancing Script', cursive;
$data-ff: 'Muli', sans-serif;