@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Fredoka+One&display=swap');

$brend-color: #e2d499;
$text-color: #333;
$title-color: rgb(253, 253, 253);

// толщина границы
$b-size: 1px;

$text-ff: 'Lato', sans-serif;
$title-ff: 'Roboto', sans-serif;
$btn-ff: 'Open Sans', sans-serif;