@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Fredoka+One&display=swap');

// @import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredoka One', cursive;
    position: relative;
    font-weight: 400;
    letter-spacing: 1.2;
    font-size: 1.6rem;
}

a, button {
    transition: all .4s ease-in;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    background: #363536;
    position: relative;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 80px;
    position: absolute;
    left: 0;
    right: 0;
}

.menu {
    position: relative;;
    display: inline-block;
        &__btn {
        width: 40px;
        height: 40px;
        border: $b-size solid rgba($title-color, $alpha: .6);
        background: transparent;
        outline: none;
        cursor: pointer;
        &:after {
            content: '\2630';
            width: 30px;
            color: $title-color;
            opacity: .6;
        }
    }
    &__child {
        display: none;
        background: transparent;
        border: 1px solid $brend-color;
        min-width: 200px;
        position: absolute;
        &--link {
            text-decoration: none;
            outline: none;
            display: block;
            @include tr;
             height: 50px;
            border-bottom: $b-size solid $brend-color;
            padding: 15px;
            text-align: center;
            color: $brend-color;
            font-weight: 400;
            font-family: 'Dancing Script';
            text-transform: uppercase;
        }
    }
}

.menu:hover .menu__child,
.menu:focus .menu__child,
.menu:active .menu__child {
    display: block;
}

.menu__btn:hover, 
.menu__btn:focus,
.menu__btn:active {
        border: $b-size solid $brend-color;
        box-shadow: 0 0 7px $brend-color;
}

.menu__btn:hover:after, 
.menu__btn:focus:after,
.menu__btn:active:after {
    content: '\2630';
    color: $brend-color;;
    @include hover;
}

.fas {
    font-size: 30px;
    color: $title-color;
    opacity: .7;
    cursor: pointer;
}

.fas:hover,
.fas:focus,
.fas:active {
    color: $brend-color;
    @include hover;
    text-shadow: 0 0 7px $brend-color;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    grid-template-rows: repeat(9, 275px);
    padding: 20px;
    &__item {
           &--bg {
           grid-column: 1 / 5;
           grid-row: 1 / 3;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           padding-top: 220px;
        }
        &--pos-1 {
            display: grid;
            grid-column: 1 / 3;
            grid-row: 3 / 5;
            // grid-template-columns: repeat(2, auto);
            // grid-template-rows: subgrid;
            background:white;
        }
        &--pos-2 {
            grid-column: 3 / 5;
            grid-row: 3 / 5;
            background: rgb(199, 197, 70);
        }
        &--pos-3 {
            grid-column: 1 / 3;
            grid-row: 5 / 7;
            background: rgb(199, 197, 70);
        }
        &--pos-4 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column: 3 / 5;
            grid-row: 5 / 7;
            background: rgb(255, 255, 255);
            &__sub1 {
               grid-column: 1 / 3;
               grid-row: 1 / 3;
             }
            &__sub2 {
                grid-column: 3 / 5;
                grid-row: 1 / 3;
                @include textCenter;
                &:after {
                     content: '\003C';
                     color: rgb(255, 255, 255);
                     transform: translate(-233px, 0);
                     font-size: 80px;
                     z-index: 2;
                }
            }
            &__sub3 {
                grid-column: 1 / 3;
                grid-row: 3 / 5;
                @include textCenter;
                &:after {
                    content: '\003E';
                    color: rgb(255, 255, 255);
                    transform: translate(43px, 0);
                    font-size: 80px;
                    z-index: 2;
               }
            }
            &__sub4 {
                grid-column: 3 / 5;
                grid-row: 3 / 5;
            }
        }
        &--pos-5 {
            grid-column: 1 / 3;
            grid-row: 7 / 9;
            background: rgb(65, 219, 98);
        }
        &--pos-6 {
            grid-column: 3 /5;
            grid-row: 7 / 9;
            background: rgb(199, 197, 70);
        }
                             
     }
    
    }

    .image {
        position: relative;
        &__pos {
            position: absolute;
            width: calc(550px / 2);
            height: calc(550px / 2);
            background-size: cover;
        }

    }



// .article {
//     width: 550px;
//     height: 550px;
//     display: flex;
//      flex-direction: column;
//        &__poster {
//         width: 50%;
//         display: flex;
//          height: 50%;
//         &__text {
//             display: flex;
//             align-items: center;
//             padding-left: 80px;
//          }
//        }
      
//        & img {
//            width: calc(550px / 2);
//            height: calc(550px / 2);
//            background-size: cover;
//            background-position: center;

//        }
       
//     }
           
   

.title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 10rem;
    font-weight: 500;
    margin: 0;
 }

 .subtitle {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 20px;
    text-align: center;
 }

 .data {
     font-family: 'Fredoka One', cursive;
     font-size: 1.5rem;
     color: red;
    
 }




