@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lora:400,700|Muli:400,700&display=swap');

@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
    @include font(1.4rem, $text-color,  400, 'Lora', 1.6rem);
}

a, button {
    cursor: pointer;
    transition: all .25s ease-in;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 80px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    
}

.menu {
    position: relative;;
    display: inline-block;
        &__btn {
        width: 40px;
        height: 40px;
        border: $b-size solid rgba($title-color, $alpha: .8);
        background: transparent;
        outline: none;
        cursor: pointer;
        &:after {
            content: '\2630';
            width: 30px;
            color: $title-color;
            opacity: .8;
        }
    }
    &__child {
        display: none;
        background: transparent;
        border: 1px solid $menu-color;
        min-width: 200px;
        position: absolute;
        &--link {
            text-decoration: none;
            outline: none;
            display: block;
            @include tr;
            height: 50px;
            border-bottom: $b-size solid $menu-color;
            @include font(1.4rem, $text-color, 400, $text-ff, 1.6);
            background: $menu-color;
            opacity: .7;
            padding: 15px;
            text-align: center;
            text-transform: uppercase;
            &::after {
                content: "";
                display: block;
                width: 80px;
                border: .3px solid $title-color;
                margin: 5px auto;
            }
        }
    }
}

.menu:hover .menu__child,
.menu:focus .menu__child,
.menu:active .menu__child {
    display: block;
}

.menu__btn:hover, 
.menu__btn:focus,
.menu__btn:active {
        border: $b-size solid $menu-color;
        box-shadow: 0 0 7px $menu-color;
}

.menu__btn:hover:after, 
.menu__btn:focus:after,
.menu__btn:active:after {
    content: '\2630';
    color: $menu-color;;
    @include hover;
}

.fas {
    font-size: 30px;
    color: $title-color;
    opacity: .8;
    cursor: pointer;
}

.fas:hover,
.fas:focus,
.fas:active {
    color: $menu-color;
    @include hover;
    text-shadow: 0 0 7px $menu-color;
}


.grid {
    display: grid;
    min-width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    position: relative;
    padding: 20px;
    text-align: center;
        &--bg {
            grid-column: span 2;
            grid-row: span 2;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            padding-top: 20rem;
        }
        &__article--sm {
            grid-column: span 1;
            grid-row: span 1;
        }
        &__article--big {
            grid-column: span 1;
            grid-row: span 2;
        }
        &__footer {
            grid-column: span 2;
            grid-row:  span 1;
            text-align: center;
        }
}

    
.post {
    display: flex;
    justify-content: center;
    background: $title-color;
    &__link{
        flex-basis: 50%;
        // height: 100%;
    }
    &__image {
        position: relative;
        height: 100%;
        overflow: hidden;
    }
     &__pic {  
        @include pCenter;
        width: 100%;
        height: auto;
        min-width: 100%;
        min-height: 100%;
    }  
    
}

.new {
flex-basis: 50%;
text-align: center;
margin: auto;
position: relative;
&--before {
    &::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -15px;
    top: 50%;
    border-top: 25px solid transparent;
    border-right: 30px solid $title-color;
    border-bottom: 25px solid transparent;
    transform: translate(-50%, -50%);
    }
}
&--after {
    &::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -45px;
    top: 50%;
    border-top: 25px solid transparent;
    border-left: 30px solid $title-color;
    border-bottom: 25px solid transparent;
    transform: translate(-50%, -50%);
    z-index: 1;
}
}
&__text {
    margin: auto;
    &::after {
        content: '\2014';
        color: $brend-color;
    }
}
&__data {
   @include font(1.1rem, $brend-color, 400, $data-ff, 1.2);
   text-transform: uppercase;
 }
&__subtitle {
    @include font(2.2rem, $text-color, 700, $text-ff, 1.2);
    margin: 20px;
    max-width: 22rem;
    max-height: 7.5rem;
 }
}
    
    .news {
        max-height: 100%;
         &__link {
            color: $title-color;
            text-align: center;
            text-decoration: none;
       }
         &__poster {
            position: relative;
            min-height: 100%;
            overflow: hidden;
         }
        &__pic {
            @include pCenter;
            min-height: 100%;
            min-width: 100%;
            min-width: 100%;
            min-height: 100%;
        }
        &__text {
            transform: translate(0, -150%);
            display: flex;
            flex-direction: column;
            align-items: center;
            &__data {
                @include font(1.1rem, $title-color, 400, $data-ff, 1.3);
                text-transform: uppercase;
             }
            &__subtitle {
                @include font(3rem, $title-color, 700, $data-ff, 1.3);
                padding: 0 10px;
                max-height: 18rem;
                max-width: 50rem;
                overflow: hidden;
               
            }
        }
    }

.post__image::after,
.news__poster::after {
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.post__link:hover img,
.news__link:hover img,
.post__link:focus img,
.news__link:focus img,
.post__link:active img,
.news__link:active img {
    transform: translate(-50%, -50%) scale(1.05);
    @include tr;
}

.post__link:hover .post__image::after,
.news__link:hover .news__poster::after,
.post__link:focus .post__image::after,
.news__link:focus .news__poster::after,
.post__link:active .post__image::after,
.news__link:active .news__poster::after {
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    @include tr;
} 

      
.title {
    @include font(12rem, $title-color, 500, $title-ff, 1.2);
    text-align: center;
    margin: 0;
    &--dark {
        color: $text-color;
        padding-top: 50px;
    }
}

.span {
    display: block;
    padding-top: 50px;
    @include font(1.7rem, $span-color, 400, $text-ff, 1.2);
}

.red {
    color: $brend-color;
    text-decoration: none;
}

.bon {
    display: block;
    @include font(3.0rem, $title-color, 100, $text-ff, 1.2);
    margin-top: 5rem;
}



    
