@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lora:400,700|Muli:400,700&display=swap');

@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Lora', serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Dancing Script', cursive;
    position: relative;
    @include font(1.4rem, $text-color,  400,  'Lora', 1.6rem);
}


.container {
    max-width: 1140px;
    margin: 0 auto;
    background: #363536;
    position: relative;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 80px;
    position: absolute;
    left: 0;
    right: 0;
}

.menu {
    position: relative;;
    display: inline-block;
        &__btn {
        width: 40px;
        height: 40px;
        border: $b-size solid rgba($title-color, $alpha: .6);
        background: transparent;
        outline: none;
        cursor: pointer;
        &:after {
            content: '\2630';
            width: 30px;
            color: $title-color;
            opacity: .6;
        }
    }
    &__child {
        display: none;
        background: transparent;
        border: 1px solid $menu-color;
        min-width: 200px;
        position: absolute;
        &--link {
            text-decoration: none;
            outline: none;
            display: block;
            @include tr;
            height: 50px;
            border-bottom: $b-size solid $menu-color;
            @include font(1.4rem, $menu-color, 400, $text-ff, 1.6);
            padding: 15px;
            text-align: center;
            color: $menu-color;
            font-weight: 400;
            font-family: 'Dancing Script';
            text-transform: uppercase;
        }
    }
}

.menu:hover .menu__child,
.menu:focus .menu__child,
.menu:active .menu__child {
    display: block;
}

.menu__btn:hover, 
.menu__btn:focus,
.menu__btn:active {
        border: $b-size solid $menu-color;
        box-shadow: 0 0 7px $menu-color;
}

.menu__btn:hover:after, 
.menu__btn:focus:after,
.menu__btn:active:after {
    content: '\2630';
    color: $menu-color;;
    @include hover;
}

.fas {
    font-size: 30px;
    color: $title-color;
    opacity: .7;
    cursor: pointer;
}

.fas:hover,
.fas:focus,
.fas:active {
    color: $menu-color;
    @include hover;
    text-shadow: 0 0 7px $menu-color;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    grid-template-rows: repeat(9, 275px);
    padding: 20px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0,0,0,.2));
    }
    &__item {
           &--bg {
           grid-column: 1 / 5;
           grid-row: 1 / 3;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           padding-top: 220px;
        }
        &--pos-1 {
            display: grid;
            grid-column: 1 / 3;
            grid-row: 3 / 5;
            background:white;
        }
        &--pos-2 {
            grid-column: 3 / 5;
            grid-row: 3 / 5;
            background: rgb(226, 130, 130);

        }
        &--pos-3 {
            grid-column: 1 / 3;
            grid-row: 5 / 7;
            background: rgb(199, 197, 70);
        }
        &--pos-4 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column: 3 / 5;
            grid-row: 5 / 7;
            background: rgb(255, 255, 255);
            &__sub1 {
               grid-column: 1 / 3;
               grid-row: 1 / 3;
             }
            &__sub2 {
                grid-column: 3 / 5;
                grid-row: 1 / 3;
                display: flex;
                justify-content: center;
                align-items: center;
                     &:before {
                     content: '\1F780';
                     color: rgb(255, 255, 255);
                     transform: translate(-132px, 0);
                     font-size: 140px;
                     position: absolute;
                   
                    }
            }
            &__sub3 {
                grid-column: 1 / 3;
                grid-row: 3 / 5;
                display: flex;
                justify-content: center;
                align-items: center;
                    &:after {
                    content: '\1F782';
                    color: rgb(255, 255, 255);
                    transform: translate(132px, 0);
                    font-size: 140px;
                    position: absolute;
                    z-index: 2;
                   
               }
            }
            &__sub4 {
                grid-column: 3 / 5;
                grid-row: 3 / 5;
            }
        }
        &--pos-5 {
            grid-column: 1 / 3;
            grid-row: 7 / 9;
            background: rgb(65, 219, 98);
        }
        &--pos-6 {
            grid-column: 3 /5;
            grid-row: 7 / 9;
            background: rgb(199, 197, 70);
        }
                             
     }
    
    }

    .news {
         height: 550px;
         &__link {
            position: relative;
            color: $title-color;
            text-align: center;
            text-decoration: none;
       }
         &__poster {
            position: absolute;
            height: 550px;
            width: 550px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
       }
        &__pic {
            position: absolute;
            @include pCenter;
            min-height: 100%;
            min-width: 100%;
        }
        &__text {
           padding-top: 205px;
            z-index: 2;
            &__data {
                @include font(2.1rem, $title-color, 400, $data-ff, 1.3);
                text-transform: uppercase;
            }
            &__subtitle {
                @include font(3.2rem, $title-color, 700, $data-ff, 1.3);
            }

           
        }
    }
    
 
.title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 10rem;
    font-weight: 500;
    margin: 0;
       
 }

 
 .new {
     text-align: center;
     &::after {
        content: '\2014';
        color: $brend-color;
       }
     &__data {
        font-family: $data-ff;
        font-size: 1.1rem;
        color: $brend-color;
        text-transform: uppercase;
        font-weight: 400;
    }
     &__subtitle {
        font-family: $data-ff;
        font-size: 2.2rem;
        font-weight: 700;
        margin: 20px;
        line-height: 1.2;
    }
       
    }






